*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: white; 
    color: #000;

    display: grid;
    /* grid-template-rows: 1fr auto 1fr; */
    min-height: 100vh;

    font-family: 'figtree', sans;
    line-height: 1.5; 
}

button {
    all: unset;
}

a {
    color: #000;
    text-decoration: none;
}

a:focus,
button:focus,
input:focus,
select:focus,
textarea:focus {
  box-shadow: none;
  outline: #000 dotted 2px;
  outline-offset: .05em;
}

nav {
    display: flex;
    justify-content: space-between;
    padding-block: 1.5rem;
}

nav ul {
    display: flex;
    gap: 1rem;
}

nav ul li {
    list-style: none;
    padding-inline-end: 1rem;
}

nav ul li:not(:last-child) {
    border-right: 1px solid #666;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.logo {
    font-weight: bold;
}

.stack > * + * {
    margin-block-start: 1.5rem;
}
