*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    background: white; 
    color: #000;

    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;

    font-family: 'figtree', sans;
    line-height: 1.4; 
}

button {
    all: unset;
}

a {
    color: #000;
    text-decoration: none;
}

a:focus,
button:focus,
input:focus,
select:focus,
textarea:focus {
  box-shadow: none;
  outline: #000 dotted 2px;
  outline-offset: .05em;
}

nav {
    display: flex;
    justify-content: space-between;
    padding-block: 1.5rem;
}

nav ul {
    display: flex;
    gap: 1rem;
}

nav ul li {
    list-style: none;
    padding-inline-end: 1rem;
}

nav ul li:not(:last-child) {
    border-right: 1px solid #666;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.logo {
    font-weight: bold;
}

.stack > * + * {
    margin-block-start: 1.5rem;
}

.active {
    color: orangered;
}

main * + * {
    margin-block-start: 1.5rem;
}

label {
    display: block;
}

input, textarea {
    display: block;
    padding: 1rem;
    min-width: 50%;
    border: 1px solid #333;
    border-radius: 0.25rem;
}

input[type="text"],
input[type="number"],
select,
textarea {
  font-size: 16px;
}

button {
    border: 1px solid #333;
    border-radius: 0.25rem;
    padding: 0.75rem 1rem;
    margin-right: 1rem;
    background-color: #333;
    color: #fefefe;
    cursor: pointer; 
}

.logout-button {
    all: unset;
    font-weight: bold;
    color: orangered;
    cursor: pointer;
}

.delete-button {
    background-color: orangered;
    border: none;
}

.error {
    color: orangered;
    font-size: 0.95rem;
    font-style: italic;
}

p {
    max-width: 65ch;
}

footer {
margin-bottom: 1rem;
}
