*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    /* color-scheme: dark light; */
    hanging-punctuation: first last;
}

body {
    font-size: 16px;
    background: white; 
    color: #000;

    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    min-height: 100dvh;

    font-family: 'figtree', sans;
    line-height: 1.4; 
}

button {
    all: unset;
}

a {
    color: #000;
    text-decoration: none;
}

a:focus,
button:focus,
input:focus,
select:focus,
textarea:focus {
  box-shadow: none;
  outline: #000 dotted 2px;
  outline-offset: .05em;
}

nav {
    display: flex;
    justify-content: space-between;
    padding-block: 1.5rem;
}

nav ul {
    display: flex;
    gap: 1rem;
}

nav ul li {
    list-style: none;
    padding-inline-end: 1rem;
}

nav ul li a:hover {
    color: #CB721C;
}

nav ul li:not(:last-child) {
    border-right: 1px solid #666;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.logo {
    font-weight: bold;
}

.stack > * + * {
    margin-block-start: 1.5rem;
}

.active {
    color: #CB721C;
}

main * + * {
    margin-block-start: 1.5rem;
}

.index {
    padding-block: min(5rem, 8%);
}

label {
    display: block;
}

input, textarea {
    display: block;
    padding: 1rem;
    min-width: 50%;
    border: 1px solid #333;
    border-radius: 0.25rem;
}

input[type="text"],
input[type="number"],
select,
textarea {
  font-size: 16px;
}

button {
    border: 1px solid #4676A9;
    border-radius: 0.25rem;
    padding: 0.75rem 1rem;
    margin-right: 1rem;
    background-color: #4676A9;
    color: #fefefe;
    cursor: pointer; 
}

.logout-button {
    all: unset;
    font-weight: bold;
    color: #CB721C;
    cursor: pointer;
}

.delete-button {
    background-color: #CB721C;
    border: none;
}

.error {
    color: #CB721C;
    font-size: 0.95rem;
    font-style: italic;
}

.wrapper {
    max-inline-size: 65ch;
    margin-inline: auto;
}

p {
    max-width: 65ch;
    text-wrap: pretty;
}

h1 {
    font-size: clamp(2rem, calc(7vw + 1rem), 5rem); 
    text-wrap: balance;
    color: #4676A9;
}

img {
    max-width: 100%;
    height: auto;
    aspect-ratio: 1/1;
    object-fit: contain;
}

footer {
    margin-bottom: 2rem;
}

article {
    border-top: 1px solid #666;
    padding-block: 2rem;
}

article > p {
    font-size: 0.85rem;
    color: #4676A9;
}

article > a {
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.5;
}
